.accordion-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#9056ED,#82BEFC);
}
.accordion {
    color: #fff;
    width: 400px;
    border-radius: 8px;
    /* border-radius: 10px; */
    
}

.accordion a,
.accordion ul li {
    width: 400px;
    line-height: 50px;
    padding-left: 30px;
    cursor: pointer;
    display: block;
}

.accordion a {
    background: #2A92DF;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.accordion ul {
    max-height: 0;
    transition: all .3s;
    overflow: hidden;
}

.accordion ul li{
    background: #343334;
    position: relative;
}
.accordion ul li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background: #2a92df;
    transition: all .5s;
    /* display: none; */
    opacity: 0;
}

.accordion ul li:hover::before {
    opacity: 1;
}


.accordion div:target ul {
    max-height: 100em;
}
